.logo{
    height: 50px;
    width: 40px;
}
.textlogo{
    color: #DB3022;
    font-size: 34px;
}
.wrapperinput{
    height: 70px;
}
.input_search{
    height: 50px;
}
.btnfilter{
    height: 40px;
    width: 40px;
    font-size: 22px;
}
.icon{
    font-size: 24px;
}
.wrapperimg{
    height: 40px;
    width: 40px;
    border: 2px solid #9B9B9B;
    border-radius: 50%;
}
.imgprofile{
    height: 35px;
    width: 35px;
}