.myOrderPg {
    width: 100vw;
    height: 100vh;
  }
  .conten {
    display: flex;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    /* background-color: aqua; */
  }
  .sidebar {
    width: 25%;
    /* background-color: aquamarine; */
  }
  .maincontent {
    width: 80%;
    height: 520px;
    /* background-color: blanchedalmond; */
    padding: 35px;
  }
  .ordertable {
    border: 1px solid black;
    height: 520px;
    padding: 20px;
  }
  .tittl{
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: 820px;
    height: auto;
    border: 1px solid#9b9b9b;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    margin: 10px;
  }
  .table, th, td {
    /* border: 1px solid gainsboro; */
    padding: 10px 40px;
    text-align: center;
  }