.container{
    width: 100vw;
    height: 200px;
    background-color: whitesmoke;
}
.carouselitem1{
    width: 160px; 
    height: 200px; 
    border-radius: 10px;
    background-color: rgb(82, 126, 115);
}
.carouselitem2{
    width: 160px; 
    height: 200px; 
    border-radius: 10px;
    background-color: blue;
}
.carouselitem3{
    width: 160px; 
    height: 200px; 
    border-radius: 10px;
    background-color: orange;
}
.carouselitem4{
    width: 160px; 
    height: 200px; 
    border-radius: 10px;
    background-color: rgb(148, 113, 120);
}
.carouselitem5{
    width: 160px; 
    height: 200px; 
    border-radius: 10px;
    background-color: burlywood;
}
